@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap"); 

.title-font {
    font-family: "Amatic SC", sans-serif;
    font-size: calc(1.4rem + 1.8vw);
    font-weight: 700;
    font-style: normal;
    color: #ea7070;
}